<!-- <a href="#" class="recipe-item__link" (click)="onSelectedItem()">
  <div class="recipe-item__info">
    <h3 class="recipe__name">{{ recipe.name }}</h3>
    <p class="recipe__description">{{ recipe.description }}</p>
  </div>
  <div class="recipe-item__photo">
    <img [src]="recipe.imagePath" alt="Recipe photo" class="recipe__image" />
  </div>
</a> -->

<!-- Using routing -->
<a
  class="recipe-item__link"
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="recipe-item__seleted"
>
  <div class="recipe-item__info">
    <h3 class="recipe__name">{{ recipe.name }}</h3>
    <p class="recipe__description">{{ recipe.description }}</p>
  </div>
  <div class="recipe-item__photo">
    <img [src]="recipe.imagePath" alt="Recipe photo" class="recipe__image" />
  </div>
</a>
