<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
          </div>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="
              !signupForm.get('userData.username').valid &&
              signupForm.get('userData.username').touched
            "
          >
            <span
              *ngIf="
                signupForm.get('userData.username').errors['nameIsForbidden']
              "
            >
              This username is forbidden! Please enter a valid username!
              <br />
            </span>
            <span
              *ngIf="signupForm.get('userData.username').errors['required']"
            >
              This field is required!
            </span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
          </div>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="
              !signupForm.get('userData.email').valid &&
              signupForm.get('userData.email').touched
            "
          >
            Please enter a valid email!
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label for="gender">
            <input
              type="radio"
              id="gender"
              [formControlName]="'gender'"
              [value]="gender"
            />
            {{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h5
            style="display: inline-block; margin-right: 2rem; font-weight: bold"
          >
            Your hobbies
          </h5>
          <button
            class="btn"
            type="button"
            (click)="onAddHobby()"
            id="hobbies"
            style="margin-bottom: 1rem; padding: 0.2rem 1.5rem"
          >
            <span style="font-size: 2rem">&#43;</span>
          </button>
          <div
            class="form-group"
            *ngFor="let hobbyControl of controls; let i = index"
          >
            <input
              type="text"
              name="hobby"
              id="hobby"
              class="form-control"
              [formControlName]="i"
            />
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <div
          class="alert alert-danger"
          role="alert"
          style="margin-top: 2rem"
          *ngIf="
            !signupForm.valid &&
            signupForm.get('userData.username').touched &&
            signupForm.get('userData.email').touched
          "
        >
          Please enter a valid data!
        </div>
      </form>
    </div>
  </div>
</div>
