<div class="recipes-detail__container">
  <div class="heading-box">
    <h2 class="section__title">{{ recipe.name }}</h2>
    <div class="recipe-detail__options">
      <button class="btn" type="button" (click)="onAddToShopping()">
        <!-- <svg class="icon icon-shopping-cart">
          <use xlink:href="../../assets/sprite.svg#icon-shopping-cart"></use>
        </svg> -->
        <svg class="icon icon-shopping-bag">
          <use xlink:href="../../assets/sprite.svg#icon-shopping-bag"></use>
        </svg>
      </button>
      <button class="btn">
        <svg class="icon icon-trash">
          <use xlink:href="../../assets/sprite.svg#icon-edit"></use>
        </svg>
      </button>
      <button class="btn">
        <svg class="icon icon-edit">
          <use xlink:href="../../assets/sprite.svg#icon-trash"></use>
        </svg>
      </button>
    </div>
  </div>
  <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}"
    style="max-width: 100%; margin-bottom: 2rem; border-radius: 3rem"
  />
  <p
    style="
      text-align: justify;
      color: var(--color-grey-dark-2);
      margin-bottom: 2rem;
      line-height: 1.5;
      font-size: 1.6rem;
    "
  >
    {{ recipe.description }}
  </p>
  <h4 style="margin-bottom: 2rem">Ingredients</h4>
  <ul class="list-group__ingredients" style="list-style: none">
    <li
      style="margin-bottom: 1rem"
      class="list-item__ingredients"
      *ngFor="let ingredient of recipe.ingredients"
    >
      {{ ingredient.amount }} · {{ ingredient.name }}
    </li>
  </ul>
</div>
