<div class="recipes-detail__container">
  <div class="heading-box">
    <h2 class="section__title">{{ recipe.name }}</h2>
    <div class="recipe-detail__options">
      <button class="btn" type="button" (click)="onAddToShopping()">
        <svg class="icon icon-shopping-bag">
          <use xlink:href="../../assets/sprite.svg#icon-shopping-bag"></use>
        </svg>
      </button>
      <button class="btn" (click)="onEditRecipe()">
        <svg class="icon icon-trash">
          <use xlink:href="../../assets/sprite.svg#icon-edit"></use>
        </svg>
      </button>
      <button class="btn" type="button" (click)="onDeleteRecipe()">
        <svg class="icon icon-edit">
          <use xlink:href="../../assets/sprite.svg#icon-trash"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="recipe-detail__main">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      style="max-width: 100%; border-radius: 2.5rem 2.5rem 0 0"
    />
    <p
      style="
        text-align: justify;
        color: var(--color-grey-dark-2);
        line-height: 1.5;
        font-size: 1.6rem;
        padding: 3rem;
      "
    >
      {{ recipe.description }}
    </p>
  </div>

  <div class="ingrediens-details">
    <h4>Ingredients</h4>
    <ul class="list-group__ingredients" style="list-style: none">
      <li
        class="list-item__ingredients"
        *ngFor="let ingredient of recipe.ingredients"
      >
        <div style="width: 8%; display: inline-block">
          {{ ingredient.amount }}
        </div>
        <p style="margin-left: 2rem; display: inline-block">
          {{ ingredient.name }}
        </p>
      </li>
    </ul>
  </div>
</div>
