<div class="header-content">
  <div class="logo-box">
    <img src="../../assets/images/logo.png" alt="logo" class="logo" />
    <span class="heading-primary">RecipesApp</span>
  </div>
  <nav class="header__navbar">
    <a
      href="#"
      class="navbar__link"
      [ngClass]="{ 'navbar__link--active': page !== 'recipes' }"
      (click)="onShoppingPage()"
      >Shopping</a
    >
    <a
      href="#"
      class="navbar__link"
      [ngClass]="{ 'navbar__link--active': page === 'recipes' }"
      (click)="onRecipesPage()"
    >
      Recipes
    </a>
  </nav>
</div>
