<div class="header-content">
  <div class="logo-box">
    <img src="../../assets/images/logo.png" alt="logo" class="logo" />
    <span class="heading-primary">RecipesApp</span>
  </div>
  <nav class="header__navbar">
    <!-- Using event listener to change the selected page -->
    <!-- <a
      href="#"
      class="navbar__link"
      [ngClass]="{ 'navbar__link--active': page !== 'recipes' }"
      (click)="onShoppingPage()"
      >Shopping</a
    >
    <a
      href="#"
      class="navbar__link"
      [ngClass]="{ 'navbar__link--active': page === 'recipes' }"
      (click)="onRecipesPage()"
    >
      Recipes
    </a> -->

    <!-- Using routing to changes pages -->
    <a
      href="#"
      class="navbar__link"
      routerLink="/auth"
      routerLinkActive="navbar__link--active"
      >Authenticate</a
    >
    <a
      href="#"
      class="navbar__link"
      routerLink="/shopping-list"
      routerLinkActive="navbar__link--active"
      >Shopping</a
    >
    <a
      href="#"
      routerLink="/recipes"
      routerLinkActive="navbar__link--active"
      class="navbar__link"
    >
      Recipes
    </a>
  </nav>
</div>
