<div class="header-content">
  <div class="logo-box">
    <img src="../../assets/images/logo.png" alt="logo" class="logo" />
    <span class="heading-primary">Recipe Book</span>
  </div>
  <nav class="header__navbar">
    <a
      href="#"
      routerLink="/recipes"
      routerLinkActive="navbar__link--active"
      class="navbar__link"
      *ngIf="isAuthenticated"
    >
      Recipes
    </a>
    <a
      href="#"
      class="navbar__link"
      routerLink="/shopping-list"
      routerLinkActive="navbar__link--active"
      *ngIf="isAuthenticated"
    >
      Shopping
    </a>
  </nav>
  <a
    href="#"
    class="navbar__link"
    routerLink="/auth"
    routerLinkActive="navbar__link--active"
    *ngIf="!isAuthenticated"
  >
    Access for free
  </a>
  <a
    href="#"
    routerLink="/auth"
    class="navbar__link navbar__link--logout"
    *ngIf="isAuthenticated"
  >
    <svg class="icon icon-cancel">
      <use xlink:href="../../assets/sprite.svg#icon-log-out"></use>
    </svg>
  </a>
</div>
