<div class="shopping-edit__container">
  <div class="shopping-edit__options">
    <button
      class="shopping-list__btn btn-add"
      type="submit"
      (click)="onAddItem()"
    >
      <svg class="icon icon-plus">
        <use xlink:href="../../assets/sprite.svg#icon-plus"></use>
      </svg>
    </button>
    <button class="shopping-list__btn btn-delete" type="button">
      <svg class="icon icon-plus">
        <use xlink:href="../../assets/sprite.svg#icon-delete"></use>
      </svg>
    </button>
    <button class="shopping-list__btn btn-clear" type="button">
      <svg class="icon icon-plus">
        <use xlink:href="../../assets/sprite.svg#icon-trash"></use>
      </svg>
    </button>
  </div>
  <form class="shopping-edit__form">
    <fieldset>
      <label for="name">Name</label>
      <input
        type="text"
        class="shopping-edit__input shopping-edit__input--name"
        id="name"
        #nameInput
      />
    </fieldset>
    <fieldset>
      <label for="amount">Amount</label>
      <input
        type="number"
        class="shopping-edit__input shopping-edit__input--amount"
        id="amount"
        #amountInput
      />
    </fieldset>
  </form>
</div>
