<div class="recipes-list__container">
  <div class="heading-box">
    <h2 class="section__title">Recipes</h2>
    <div class="recipes__options">
      <button class="btn" (click)="onSaveData()">
        <svg class="icon icon-upload">
          <use xlink:href="../../assets/sprite.svg#icon-upload-cloud"></use>
        </svg>
      </button>
      <button class="btn" (click)="onFetchData()">
        <svg class="icon icon-download">
          <use xlink:href="../../assets/sprite.svg#icon-download-cloud"></use>
        </svg>
      </button>
      <button class="btn" (click)="onNewRecipe()">
        <svg class="icon icon-new">
          <use xlink:href="../../assets/sprite.svg#icon-plus"></use>
        </svg>
      </button>
    </div>
  </div>
  <app-loading-spinner
    *ngIf="isLoading"
    style="display: flex; justify-content: center; margin-top: 3rem"
  ></app-loading-spinner>
  <app-recipe-item
    *ngFor="let recipe of recipes; let i = index"
    [recipe]="recipe"
    [index]="i"
  ></app-recipe-item>
</div>
