.recipes__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  margin: 4rem 4rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}

.recipes__content {
  width: 50%;
}

.recipes__content:not(:last-child) {
  margin-right: 4rem;
}

.recipes-list {
  margin-right: 2rem;
}

.recipes-detail {
  align-self: flex-start;
}
