<div class="recipes__container">
  <div class="recipes__content recipes-list">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="recipes__content recipes-detail">
    <router-outlet></router-outlet>
    <!-- <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #infoText>
      <p
        style="
          margin-top: 1.5rem;
          color: var(--color-grey-dark-2);
          font-weight: 500;
        "
      >
        Please select a recipe!
      </p>
    </ng-template> -->
  </div>
</div>
